=header-nav-effects
  position: relative
  transition: color .4s ease
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 1px
    background-color: $fourth-color
    transition-duration: 0.4s
    transition-property: transform
    transform: scaleX(0)
  &:hover::before
    transform: scaleX(1)
  &:hover
    color: $fourth-color
  &:active::before
    transform: scaleX(0)
  &:focus
    outline: none
  &:focus::before
    background-color: $main-color
    transform: scaleX(1)

=hert-effects
  &:hover
    color: $fifth-color
    opacity: .5
    filter: drop-shadow(0px 0px 20px $fifth-color)
  &:active
    color: $fifth-color
    opacity: 1
  &:focus
    color: $fifth-color
    opacity: .75

=item-to-cart-effects
  &:hover
    background-color: $seventh-color
  &:active
    background-color: $second-color
    border: 1px solid $main-color
    color: $main-color
  &:focus
    background-color: $third-color
    border: 1px solid $main-color
    color: $main-color

=item-dscr-btn-effects
  &:hover
    color: $seventh-color
  &:active
    color: $main-color
  &:focus
    color: $eighth-color

=item-dscr-btn-pseudo-effects
  &:hover::after
    background-color: $seventh-color
  &:active::after
    display: none
  &::after:focus
    background-color: $seventh-color

=link-effects
  filter: drop-shadow(0 0 20px transparent)
  transition: color .4s ease, drop-shadow .4s ease
  &:hover
    color: $fourth-color
    filter: drop-shadow(0px 0px 20px $fourth-color)

=control_effects
  transition: opacity .4s ease
  &:hover
    opacity: .5
