.hero
  padding: 60px 0 40px
  &__slider-link
    display: flex
    align-items: flex-end
    width: 100%
    min-height: 500px
    padding: 70px 80px
    background-color: $main-color
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &__slider-title
    max-width: min-content
    font-weight: 400
    font-size: 60px
    line-height: 1.2
    text-transform: uppercase
    color: $second-color

.hero__slider-pagination
  position: absolute
  text-align: center
  bottom: 30px
  z-index: 10

.hero__slider-line
  cursor: pointer
  display: inline-block
  width: 50px
  height: 8px
  background-color: $second-color
  opacity: 0.5
  margin: 8px
  will-change: width
  transition: width .4s ease, opacity .4s ease
.swiper-pagination-bullet-active //hero__slider-line_active
  opacity: 1
  width: 130px

@media (max-width: 1200px)
  .hero
    padding: 50px 0 35px
    &__container
      padding: 0
    &__slider-link
      padding: 80px 90px
    &__slider-title
      font-size: 56px
@media (max-width: 1000px)
  .hero
    &__slider-link
      padding: 81px 94px
      min-height: 530px
    &__slider-title
      font-size: 44px
  .hero__slider-line
    width: 40px
    height: 6px
  .swiper-pagination-bullet-active //.hero__slider-line
    width: 90px
@media (max-width: 760px)
  .hero
    &__slider-link
      padding: 81px 94px
      min-height: 530px
    &__slider-title
      font-size: 38px
  .hero__slider-line
    width: 30px
    height: 5px
  .swiper-pagination-bullet-active
    width: 60px
@media (max-width: 580px)
  .hero
    padding: 30px 0 20px
    &__slider-link
      min-height: 400px
      padding: 60px 20px
    &__slider-title
      font-size: 30px
